# CPE 009 - Programming Tutorials (Variables, Literals, and Operators)


## 1. Variables are containers of data
We generally assign values to variables using the = (equals) known as the 'Assignment Operator'.

**Remember**: to run a Code Cell you can click on the cell and press Run or click on the cell then press Ctrl+Enter.

In [33]:
# value holds the value 123
value = 123
print(value)

123

## 2. Variable Data Types

There are different data types in Python as with other Programming languages: For this tutorial, we will be looking at the **int**, **float**, **list**, **tuple**, **dictionary**, and the **None** type.

In [14]:
# This is a string/str data type
name = "Juan Dela Cruz"

# This is an integer/int data type
age = 22

# This is a float data type
age = 22.5

# This is a list data type
scores_list = [55, 70, 60, 90, 50]
skills_list = ["Coding", "Drawing", "Singing"]
some_list = ["1",1,2.2,"Bike"]

# This is a tuple data type
scores_tuple = (55, 70, 60, 90, 50)
skills_tuple = ("Coding", "Drawing", "Singing")
some_tuple = ("1",1,2.2,"Bike")

# This is a bool data type
is_student = False

# This is a dictionary data type
guardian_info = {"firstname": "Cristina", "lastname": "Dela Fuente", "contactno": "09065772562", "age": 45 }


# This is a None type
varx = None

# Display the values
print(name)
print(age)
print(scores_list)
print(skills_list)
print(some_list)
print(scores_tuple)
print(skills_tuple)
print(some_tuple)
print(is_student)
print(guardian_info)
print(guardian_info["firstname"])
print(varx)

Juan Dela Cruz
22.5
[55, 70, 60, 90, 50]
['Coding', 'Drawing', 'Singing']
['1', 1, 2.2, 'Bike']
(55, 70, 60, 90, 50)
('Coding', 'Drawing', 'Singing')
('1', 1, 2.2, 'Bike')
False
{'firstname': 'Cristina', 'lastname': 'Dela Fuente', 'contactno': '09065772562', 'age': 45}
Cristina
None

We will be exploring these data types throughout the modules

## 3. Python is a Dynamically typed language
This means it determines what data type a variable should be based on the value it is assigned at runtime in each line of code

In [15]:
# Assign a number (int literal) to value variable
value = 123 
print(value)
# Assign a string literal to the same value variable
value = "Some Word"
print(value)

123
Some Word

Python automatically determines the data type at runtime when the program is executed which is also why Python is known as a **Dynamically Typed Language**.

In [16]:
# Recall age
age = 22
# We'll use the type() built-in function to look at its type
print(type(age))
# In Python, the data type of a variable can change over time
age = 22.5
print(type(age))
# Exercise this knowledge with caution
age = "22.5"
print(type(age))

<class 'int'>
<class 'float'>
<class 'str'>

Normally, this wouldn't be readily possible in Compiled Languages such as C where memory is pre-allocated when we declare the variable's data type.
``` C
// in C
int value = 123;
```

## 4.1 Multiple Variable Assignment
We can assign values to multiple variables all in one line. It has to be in the correct order though

In [17]:
# Earlier, we did assignment of multiple variables like this
name = 'Juan Dela Cruz'
age = 22
# But in Python we can also assign multiple variables in a single line
# This is called multiple variable assignment
# int name = "Juan Dela Cruz", age = 22; // in C
name, age = 'Juan Dela Cruz', 22
# or 
name, age = ('Juan Dela Cruz', 22)
print(name, age)

Juan Dela Cruz 22

## 4.2 String Formatting / Displaying Variable Data
To display data along with our messages (most likely in string), in the latest version of Python, we have 3 alternatives to choose from. We can use use the **f-strings**, using the **.format()** method, and using **C-style string formatting** or simply by using print().

In [18]:
print(f"Your name is {name} and your age is {age}")
print("Your name is %s and your age is %i" % (name, age))
print("Your name is {} and your age is {}".format(name, age))
print("Your name is", name, "and your age is", age)

Your name is Juan Dela Cruz and your age is 22
Your name is Juan Dela Cruz and your age is 22
Your name is Juan Dela Cruz and your age is 22
Your name is Juan Dela Cruz and your age is 22

## 4.3 Variable Value Swapping
Variable value swapping is a handy technique in some algorithms were you need to swap the values of two variables, it's most useful in implementing algorithms.

In [0]:
# In Compiled languages, to perform a swap of values 
# You would need to do the swap with a temporary variable 
a = 1
b = 2
print(f"Before: {a}, {b}")
tmp = b # tmp becomes 2
b = a # becomes 1
a = tmp # a becomes 2
print(f"After: {a}, {b}")

Before: 1, 2
After: 2, 1

In [19]:
# In Python, we can do a more simpler approach which doesn't need a 3rd variable
a, b = 4, 5
print(f"Before: {a}, {b}")
b, a = a, b
print(f"After: {a}, {b}")

Before: 4, 5
After: 5, 4

## 5. Operators 
In Python there are different kinds of operators as with other programming languages: **Arithemtic**, **Relational**, **Boolean**, and **Bitwise** operators.

## 5.1 Arithmetic Operators
Arithmetic Operations are primarily used on int and float values, there are some exceptions for other data types but only for some arithmetic operators though they're name is different.

In [21]:
# Arithmetic Operators (+, -, *, /, //, %, **)
# Addition (Sum)
print(1+2)

# Subtraction (Difference)
print(1-2)

# Multiplication
print(1*2)

# Division (quotient automatically results in float if result included a decimal)
print(1/2)

# Floor division (ex. 0.5 ~ 0)
print(1//2)

# Modulo Operation (Remainder)
print(1%2)
print(9%2)

# Exponent
print(2**5)

3
-1
2
0.5
0
1
1
32

**Reminder:** You can store these operations/computations in variables.

In [0]:
num1, num2 = 1, 2
sum = num1 + num2
print(sum)

3

Some examples where some arithmetic operators can be used on other data types but have different effect are in (but not limited to) strings. We'll explore lists and tuples later.

In [0]:
# What happens when we apply the addition operator (+) to Strings
first_name = "John"
last_name = "Doe"
# Addition causes Concatenation or Appending (from left to right)
print(first_name + last_name)
print(first_name + " " + last_name) 

# Multiplication
print("Hi there! " * 10)
# Subtraction, Division, Modulo and other Arithmetic Operators are 
# not supported by strings

JohnDoe
John Doe
Hi there! Hi there! Hi there! Hi there! Hi there! Hi there! Hi there! Hi there! Hi there! Hi there!

## 5.2 Relational Operators
Relational operators describes comparisons between two values. Relational operators only results in 2 values: **True** or **False**.

In [0]:
# Relational Operators (>,<,==,!=, >=, <=)
# Greater than
print(2 > 1)
# Less than
print(2 < 1)
# Equal
print(2 == 1)
print(2 == 2)
# Not equal
print(2 != 1)
# Greater than or equal
print(2 >= 1)
# Less than or equal 
print(2 <= 1)

True
False
False
True
True
True
False

Relational operators(involving greater than or less than) are mostly used in numbers and the Equality/Non-Equality operators can be used in Strings, Lists, and Tupples

In [25]:
name1 = "Jake"
name2 = "Bake"
print(name1 == name2)
name2 = "Jake"
print(name1 == name2)

False
True

## 5.3 Boolean Operators
Boolean Operators deal with values that are either **True(1)** or **False(0)**. This can come from a variable assigned with a True or False value or from Relational Operator Comparisons (more common).

In [28]:
# Boolean Operators (and, or, not) 
# Note: the keywords are case sensitive
# 4 Possible combinations with the and keyword and two Boolean values
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

The ***and*** operator will remain False unless both values are True.

In [0]:
# 4 Possible combinations with the or keyword and two Boolean values
print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

The ***or*** operator will remain True unless both values are False.

In [0]:
# Not (gets the complement or opposite of the Boolean Value) 
print(not True)
print(not False)

False
True

**Note:** True or False values can be derived from the result when operations involving Relational operators are performed.

In [31]:
response = "yes"
# Print the result when yes or Yes is evaluated
print(response == "yes" or response == "Yes")

True

## 5.3 Bitwise Operators
Operators that are used in low level operations are Bitwise Operators. Bits are binary digits whose only values are 1 and 0. Everything you see in a program eventually gets converted to 1's and 0's. We can directly perform operations with numbers and characters at their bit values. These operations are similar to some Boolean Operators and some operators in Discrete Math such as XOR.

In [32]:
# Bitwise AND
print(1 & 0)  # The result will only be 1 when both bits are 1
# Bitwise OR
print(1 | 0)  # When at least one of the bit is 1, the result will immediately be 1
# Bitwise Complement
print(~1) # If 1 then complement or opposite is 0, likewise if 0 then complement is 1
# Bitwise XOR
print(1 ^ 0)  # When the two bits are not of the same value, the result is 1 (w/c means 1 ^ 0 or 0 ^ 1 will result in 1)
# Bitwise Shift (left)
print(1 << 3) # 00000001 shift/move 1 three times to the left => # 00001000 => decimal equivalent is 8
# Bitwise Shift (right)
print(1 >> 2) # 00000001 shift/move 1 two times to the left => # 000000000|00 => decimal equivalent is 0

0
1
-2
1
8
0